#backwheel, #frontwheel, #pedalwheel {
	-webkit-transition: -webkit-transform 3s ease-in-out;
	-moz-transition: -moz-transform 3s ease-in-out;
	-o-transition: -o-transform 3s ease-in-out;
	transition: transform 3s ease-in-out;
}

#bike {
	-webkit-transition: -webkit-transform 3s linear;
	-moz-transition: -moz-transform 3s linear;
	-o-transition: -o-transform 3s linear;
	transition: transform 3s linear;
}

#bike.move {
	-webkit-transform: translateX(500px) rotate(-45deg);
	-moz-transform: translateX(500px) rotate(-45deg);
	-ms-transform: translateX(500px) rotate(-45deg);
	-o-transform: translateX(500px) rotate(-45deg);
	transform: translateX(500px) rotate(-45deg);
}

.spin {
	-webkit-transform: rotate(1080deg);
	-moz-transform: rotate(1080deg);
	-ms-transform: rotate(1080deg);
	-o-transform: rotate(1080deg);
	transform: rotate(1080deg);
}