body {
	background-color: rgb(173,216,230);
	font-family: 'Shadows Into Light Two', cursive;
}

h1 {
	font-family: 'Righteous', cursive; 
	font-size: 2.5em;
	margin: 0 -8px 8px -8px;
	text-align: center;
	background-color: white;

	-webkit-box-shadow: 0 -4px 0 12px white, 0px 1px 20px 1px black;
	box-shadow:
		0 -4px 0 12px white,
		0px 1px 20px 1px black;
}

#bar {
	background-color: rgb(233,236,236);
	width: 800px;
	height: 700px;
	margin: -8px auto;
	padding: 20px;
	border-radius: 10px;
	position: relative;
}

#bar section {
	width: 110px;
	position: absolute;
	margin-left: 100px;
	padding-top: 20px;
}

.tumbler {
	width: 100px;
	height: 200px;
	border: 8px solid #336;
	border-width: 0 6px 6px 6px;
	border-color: white black black black;

	border-bottom-right-radius: 20px 30px;
	border-bottom-left-radius: 20px 30px;

	position: relative;
	overflow: hidden;
}

.tumbler div:nth-of-type(1) p {
	border-bottom-right-radius: 15px 20px;
	border-bottom-left-radius: 15px 20px;
}

.tumbler div {
	width: 100px;
	position: absolute;
}

#rum {
	height: 20%;
	bottom: 0;
}

#rum p {
	background-color: rgb(235,191,0);
}

@-webkit-keyframes rise {
	0% { height: 0;}
	100% { height: 100%;}
}

.tumbler div p {
	font-family: 'Righteous', cursive;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	text-align: center;

	-webkit-animation: rise 2s both ease-out;
}

#coke {
	height: 40%;
	bottom: 20%;
}

#coke p {
	background-color: rgb(151,95,55);
	color: white;

	-webkit-animation-delay: 3s;
}

@-webkit-keyframes ingredientFadeIn {
	0% { color: transparent;}
	100% { }
}

.tumbler div p strong {
	font-size: 0.9em;

	-webkit-animation: ingredientFadeIn 1s 2s both;
}

#coke p strong {
	-webkit-animation-delay: 5s;
}

/* Tom Collins */
#tomcollins {
	left: 250px;
}

#tcGin {
	bottom: 0;
	height: 20%;
}

#tcGin p {
	border-top: 2px solid rgba(0,0,0,.3);
	background-color: rgb(231,255,255);
}

#tcClubSoda {
	bottom: 21%;
	height: 20%;
}

#tcClubSoda p {
	background-color: white;

	-webkit-animation-delay: 2s;
}

#tcClubSoda p strong {
	-webkit-animation-delay: 4s;
}

#tcLemon {
	bottom: 41%;
	height: 10%;
}

#tcLemon p {
	background-color: yellow;

	-webkit-animation-delay: 4s;
}

#tcLemon p strong {
	-webkit-animation-delay: 6s;
}

/* Sources */
#sources {
	background-color: gray;
	top: 740px;
	width: 800px !important;
	margin-left: -20px !important;
	padding: 20px;
	color: white;
}

#sources a {
	color: white;
}

/* Gin and Tonic */
#ginntonic {
	left: 500px;
}

#gtGin {
	bottom: 0;
	height: 20%;
}

#gtGin p {
	border-top: 2px solid rgba(0,0,0,.3);
	background-color: rgb(231,255,255);
}

#gtGin p strong {
	-webkit-animation-delay: 2s;
}

#gtTonic {
	bottom: 21%;
	height: 40%;
}

#gtTonic p {
	background-color: white;

	-webkit-animation-delay: 3s;
}

#gtTonic p strong {
	-webkit-animation-delay: 5s;
}

/* Bloody Mary */
#bloodyMary {
	left: 20px;
  	top: 400px;
}

#bmvodka {
	height: 15%;
	bottom: 0;
}

#bmvodka p {
	background-color: white;
}

#bmtomatojuice {
	bottom: 15%;
	height: 30%;
}

#bmtomatojuice p {
	background-color: red;

	-webkit-animation-delay: 2s;
}

#bmtomatojuice p strong {
	-webkit-animation-delay: 4s;
}

#bmlemonjuice {
	bottom: 45%;
	height: 10%;
}

#bmlemonjuice p {
	background-color: yellow;

	-webkit-animation-delay: 4s;
}

#bmlemonjuice p strong {
	-webkit-animation-delay: 6s;
}

/* Redbull Vodka */
#redbullVodka {
	left: 250px;
	top: 400px;
}

#rvvodka {
	bottom: 0;
	height: 15%;
}

#rvvodka p {
	background-color: white;
}

#rvredbull {
	bottom: 15%;
	height: 45%;
}

#rvredbull p {
	background-color: orange;

	-webkit-animation-delay: 2s;
}

#rvredbull p strong {
	-webkit-animation-delay: 4s;
}

/* Whiskey Sour */
#whiskeysour {
	top: 400px;
	left: 500px;
}

#wswhiskey {
	bottom: 0;
	height: 30%;
}

#wswhiskey p {
	background-color: rgb(178,148,148);
}

#wslemonjuice {
	bottom: 30%;
	height: 20%;
}

#wslemonjuice p {
	background-color: yellow;

	-webkit-animation-delay: 2s;
}

#wslemonjuice p strong {
	-webkit-animation-delay: 4s;
}

#wsgomme {
	bottom: 50%;
	height: 10%;
}

#wsgomme p {
	background-color: rgb(131,35,11);

	-webkit-animation-delay: 4s;
}

#wsgomme p strong {
	color: white;
	
	-webkit-animation-delay: 6s;
}

/* Garnishes */
#lime {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid yellow;
	bottom: 80%;
    background-color: lime;
    left: -20px;
}

div[class*="slice"] {
	height: 1px;
    width: 25px;
    background-color: yellow;
    position: absolute;
    top: 26px;
  
    -webkit-transform-origin: 100% 50%;
}

.slice2 {
	-webkit-transform: rotate(40deg);
}

.slice3 {
	-webkit-transform: rotate(80deg);
}

.slice4 {
	-webkit-transform: rotate(120deg);
}

.slice5 {
	-webkit-transform: rotate(160deg);
}

.slice6 {
	-webkit-transform: rotate(200deg);
}

.slice7 {
	-webkit-transform: rotate(240deg);
}

.slice8 {
	-webkit-transform: rotate(280deg);
}

.slice9 {
	-webkit-transform: rotate(320deg);
}

/* Recipes */
.recipes {
	width: 250px;
	position: absolute;
	top: 60px;
	right: -300px;
	z-index: 2;

	-webkit-transition: right 1s, top 1s;

	background: #e3c997;
	background: -webkit-radial-gradient(center, ellipse cover, #e3c997 67%, #dcbd87 87%, #cda567 100%);
	background: -radial-gradient(ellipse at center, #e3c997 67%, #dcbd87 87%, #cda567 100%);
}

.recipes ul {
	margin-top: 0;
	padding: 0 10px;
	display: none;
}

.recipes h3 {
	padding: 10px 0;
	margin: 0 20px;
	display: none;
}

.recipes ul li {
	opacity: 0;
}

.recipes.visible {
	right: 20px;
	-webkit-box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: -2px 2px 5px rgba(0,0,0,0.3)
}

.recipes ul.visible,
.recipes h3.visible {
	display: block;
}